<template>
    <span v-if="loading" class="loader">
        LOADING...
    </span>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: 'AppLoading',
    computed: {
        ...mapGetters([
            'loading'
        ])
    }
}
</script>
