<template>
    <ul>
        <li v-for="timeRecord in timeRecords" :key="timeRecord._uuid">
            {{ timeRecord.description }}
        </li>
    </ul>
</template>
<script>
import { mapGetters } from 'vuex';
export default {
    name: 'TimeRecords',
    components: {},
    computed: {
        ...mapGetters([
            'timeRecords'
        ])
    },
    mounted: {},
    methods: {
        LoadRecords() {
            this.$store.dispatch('loadTimeRecords')
        }
    }
}
</script>
